
main{
    background-color: rgb(181, 221, 224);
 }
.catalog-card {
    display:  grid;
    grid-template-columns: 300px 300px 300px 300px;
}

.photo-card{
    background: rgb(240, 237, 236);
    padding: 20px 20px 40px;
}

 .photo-image{
    width: 100%;
    object-fit:cover;
 }

 .layout {
    margin: auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    gap: 40px;
    justify-content: center;
    object-fit: cover;
 }
 .button-comprar{
    border: 2px solid #e9520d;
    border-radius: 12px;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: #e9520d;
    cursor: pointer;
 }
 .button-comprar:hover {
    color: #2a0f14;
    background-color: transparent;
    text-decoration: none;
}

